.month {
	display: flex;
	justify-content: center;
	font-size: 42px;
	margin-bottom: 14px;
}
.month-slider {
	width:500px;
}

.month-slider-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.slider-container {
	display: flex;
	justify-content: center;
}